.modula-gallery {
  @apply my-8;

  img {
    &.lazy {
      // opacity: 0;
    }
    &:not(.initial) {
      transition: opacity 0.5s;
    }
    &.initial,
    &.loaded,
    &.error {
      opacity: 1;
    }
  }


  .modula-items {
    @apply grid grid-cols-12 grid-flow-row gap-2 w-full;


    .modula-item {
      &[data-width='1'] { @apply col-span-1; }
      &[data-width='2'] { @apply col-span-2; }
      &[data-width='3'] { @apply col-span-3; }
      &[data-width='4'] { @apply col-span-4; }
      &[data-width='5'] { @apply col-span-5; }
      &[data-width='6'] { @apply col-span-6; }
      &[data-width='7'] { @apply col-span-7; }
      &[data-width='8'] { @apply col-span-8; }
      &[data-width='9'] { @apply col-span-9; }
      &[data-width='10'] { @apply col-span-10; }
      &[data-width='11'] { @apply col-span-11; }
      &[data-width='12'] { @apply col-span-12; }

      &[data-height='1'] { @apply row-span-1; }
      &[data-height='2'] { @apply row-span-2; }
      &[data-height='3'] { @apply row-span-3; }
      &[data-height='4'] { @apply row-span-4; }
      &[data-height='5'] { @apply row-span-5; }
      &[data-height='6'] { @apply row-span-6; }
      &[data-height='7'] { grid-row: span 7 / span 7; }
      &[data-height='8'] {grid-row: span 8 / span 8; }
      &[data-height='9'] { grid-row: span 9 / span 9; }
      &[data-height='10'] { grid-row: span 10 / span 10; }
      &[data-height='11'] { grid-row: span 11 / span 11; }
      &[data-height='12'] { grid-row: span 12 / span 12; }
      &[data-height='13'] { grid-row: span 13 / span 13; }
      &[data-height='14'] { grid-row: span 14 / span 14; }
      &[data-height='15'] { grid-row: span 15 / span 15; }
      &[data-height='16'] { grid-row: span 16 / span 16; }
      &[data-height='17'] { grid-row: span 17 / span 17; }
      &[data-height='18'] { grid-row: span 18 / span 18; }

      .modula-item-link {
        &:after {
          display: none;
        }
      }

      .modula-item-content {
        height: 100%;
        transform: scale(1) translate(0,0) rotate(0)!important;
        opacity: 1;

        .modula-video-icon {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          > svg {
            max-width: 400%!important;
          }
        }

        .pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        > a {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background: 0 0;
          box-shadow: none;
          &:hover {
            box-shadow: none;
          }
        }
      }


      .figc {
        display: none;
      }
    }

  }
  .post-edit-link {
    display: none;
  }
}