@tailwind base;
@tailwind components;
@tailwind utilities;

.list-comma {
  display: inline;
  list-style: none;
}
.list-comma li {
  display: inline;
}
.list-comma li:after {
  content: ", ";
}
.list-comma li:last-child:after {
  content: "";
}

.list-bullet {
  display: inline;
  list-style: none;
}
.list-bullet li {
  display: inline;
}
.list-bullet li:after {
  content: " • ";
}
.list-bullet li:last-child:after {
  content: "";
}

.unblur {
  /* animation: unblur 0.1s ease-in-out; */
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

.shadow-link {
  text-decoration: none;
  color: #2563eb; /* blue-600 */
  transition: 0.2s box-shadow;
  box-shadow: inset 0 -0.4rem 0 0 #bfdbfe; /* blue-200 */
}
.shadow-link:hover {
  box-shadow: inset 0 -1.2rem 0 0 #bfdbfe; /* blue-200 */
}
