@tailwind base;
@tailwind components;
@tailwind utilities;

.list-comma, .list-bullet, .list-bar {
  display: inline;
  list-style: none;
}
.list-comma li, .list-bullet li, .list-bar li {
  display: inline;
}
.list-comma li:last-child:after, 
.list-bullet li:last-child:after, 
.list-bar li:last-child:after {
  content: "";
}
.list-comma li:after {
  content: ", ";
}
.list-bullet li:after {
  content: " • ";
}
.list-bar li:after {
  content: " | ";
}

.unblur {
  /* animation: unblur 0.1s ease-in-out; */
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

.link--blue {
  @apply text-blue-600 underline-offset-4 font-semibold underline;
}
.link--blue:hover {
  @apply no-underline;
}