@tailwind base;
@tailwind components;
@tailwind utilities;

.list-comma, .list-bullet, .list-bar {
  display: inline;
  list-style: none;
}
.list-comma li, .list-bullet li, .list-bar li {
  display: inline;
}
.list-comma li:last-child:after, 
.list-bullet li:last-child:after, 
.list-bar li:last-child:after {
  content: "";
}
.list-comma li:after {
  content: ", ";
}
.list-bullet li:after {
  content: " • ";
}
.list-bar li:after {
  content: " | ";
}

.unblur {
  /* animation: unblur 0.1s ease-in-out; */
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

.link {
  @apply underline-offset-4 font-semibold underline;
}
.link--blue {
  @apply link text-blue-600
}
.link--white {
  @apply link text-white
}
.link:hover, .link--blue:hover, .link--white:hover {
  @apply no-underline;
}


.card {
  @apply md:rounded-lg leading-snug text-gray-600 text-base p-4 relative shadow-xl mt-8 mx-auto border border-gray-100;
}
.adam.card {
  min-height: 100px;
}
.adam.card:before {
  background: url("https://storage.googleapis.com/adamfortuna/blog/face.png") no-repeat left;
  background-size: 64px;
  float: left;
  transition: 0.5s all;
  min-height: 64px;
  min-width: 64px;
  margin-right: 1rem;
  transform: rotate(-10deg);
  content: '';
}

.adam.card:hover:before {
  transform: rotate(5deg);
}

.twitter-tweet {
  @apply mx-auto;
}

input.dropdown-checkbox[type=checkbox]:checked ~ ul {
  visibility: visible;
  opacity: 1;
}

.is-layout-constrained {
  @apply max-w-3xl;
}

.link--footer {
  @apply flex-shrink border-2 border-transparent rounded-lg hover:text-green-900 hover:border-green-900 p-1
}

.form-label {
  @apply text-gray-700
}
.form-text {
  @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50
}
.form-checkbox {
  @apply rounded border-gray-300 text-sky-600 shadow-sm focus:border-sky-300 focus:ring focus:ring-offset-0 focus:ring-sky-200 focus:ring-opacity-50
}
.button {
  @apply text-blue-500 hover:bg-blue-500 hover:text-white rounded py-2 px-4 flex items-center no-underline font-bold border bg-white self-center
}
.form-error {
  @apply border-red-500 focus:border-red-300 focus:ring focus:ring-red-200
}
